.Root{


}
* {
    font-family: 'Inter', sans-serif;
    list-style: none;
    text-decoration: none;
}

html, body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

#login{
    position: absolute;
    width: 48px;
    height: 28px;
    left: 1204px;
    top: 16px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */
    
    letter-spacing: -0.4px;
    
    /* main putih */
    
    color: #FFFFFF;
}
#register{
    position: absolute;
width: 72px;
height: 28px;
left: 1293px;
top: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */

letter-spacing: -0.4px;

/* main putih */

color: #FFFFFF;
}
nav{
margin: auto;

}

nav > a {
    margin-left: 41px;
}

#header {
    display: flex;
    align-items: center;
    height: 61px;
    background: #00B866;
    
}

#content{
    box-sizing: border-box;

position: absolute;
width: 1280px;
height: 90px;
left: 80px;
top: 97px;

/* hijau */

border: 1px solid #00B866;
}

.headercontent{
    display: flex;
    align-items: center;

    box-sizing: border-box;

    position: absolute;
    width: 1280px;
    height: 90px;
    left: 80px;
    top: 97px;
    
    /* hijau */
    
    border: 1px solid #00B866;
}

.headercontent a{
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;

    color: #00B866;

}

.headercontent div{
    position: absolute;
    margin-left: 189px;
}

.headercontent nav{
    position: absolute;
    margin-left:561px;
}

#cart{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-left: 1072px;

    width: 188px;
    height: 90px;
    background-color: #00B866;
}
#search{
    margin-left: 1103px;
}
#cart a{
    margin: 31px 46px 31px 0px;
    color: #FFFFFF;
}
#cart img{
    margin-left: 46px;
}


.logo{
    display: flex;
    align-items: center;
}

.banner{
    position: absolute;
width: 1280px;
height: 482px;
left: 80px;
top: 223px;

background: linear-gradient(250.51deg, #00B866 45.95%, rgba(38, 142, 96, 0.94) 83.06%);
}